In [3]:
import pandas as pd

dict = {'a':3, 'b':'cat', 'c':25}
pd.Series(dict)

a      3
b    cat
c     25
dtype: object

## Series de uma dimensão

In [3]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], ['Amy', 'Boby', 'Cat', 'Don', 'Emma'])
oneD

Amy     100
Boby    cat
Cat     310
Don     gog
Emma    500
dtype: object

## acessar valor (Indice)

In [8]:
oneD.loc[['Cat', 'Boby']]

Cat     310
Boby    cat
dtype: object

## acessar valor (posião)

In [12]:
oneD.iloc[4]

500

## existe valor no indice ?

In [13]:
'Cat' in oneD

True

# Data Frame

In [6]:
d = {
    'A': pd.Series([100, 200, 300], ['Maça', 'Pera', 'Laranja']),
    'B': pd.Series([111., 222, 333., 444], ['Maça', 'Pera', 'Laranja', 'Melão'])
    }

In [7]:
df = pd.DataFrame(d)
print(df)
print(df.columns)
print(df.index)

             A      B
Laranja  300.0  333.0
Maça     100.0  111.0
Melão      NaN  444.0
Pera     200.0  222.0
Index(['A', 'B'], dtype='object')
Index(['Laranja', 'Maça', 'Melão', 'Pera'], dtype='object')

## selecionando coluna

In [36]:
pd.DataFrame(df, index=['Laranja', 'Melão', 'Maça'], columns=['A'])

             A
Laranja  300.0
Melão      NaN
Maça     100.0